* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
  height: 100%;
}

body {
  background-color: rgb(51, 51, 51);
  color: white;
}
.container-1 {
  display: flex;
  flex-direction: column;
}

.sec1 {
  margin: 0;
  background-image: url(../assets/netflix-background.jpg),
    linear-gradient(
      110deg,
      rgba(0, 0, 0, 0.4) 0,
      rgba(0, 0, 0, 0.8) 60%,
      rgba(0, 0, 0, 0.4) 100%
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  height: 50rem;
}
.navbar {
  display: flex;
}
.nav-logo {
  width: 19%;
  top: 0;
  padding: 0px 20px;
  margin-left: 2%;
  margin-top: 2%;
  box-sizing: border-box;
}

.left-navbar {
  display: flex;
}
.right-navbar {
  display: flex;
  position: absolute;
  top: 20px;
  right: 50px;
}
.btn-language {
  border: 1px solid white;
  background: none;
  color: white;
  width: 95px !important;
  height: 2rem;
  margin: 0px 20px;
}
.language-div {
  margin: 0px 7px;
}
.language-div ul {
  max-width: auto;
  background: linear-gradient(
    to top,
    rgba(300, 0, 0, 0.8) 0,
    rgba(0, 300, 0, 0) 60%,
    rgba(0, 0, 0, 0.575) 100%
  );
}
.btn {
  border-radius: 3px;
  width: 80px;
  height: 1.8rem;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0px 15px;
  cursor: pointer;
}
.dropdown li {
  list-style: none;
}
.dropdown a {
  text-decoration: none;
  color: white;
}
.ddown-visible {
  display: none;
}
.fa-sort-down:after {
  content: "\f107";

  padding-left: 2px;
}

.fa-sort-down:before {
  content: none;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10%;
  max-width: 50%;
  position: relative;
}

.content h1 {
  color: white;
  font-size: 3.2rem;
  padding: 0;
  max-width: 90%;
  text-align: center;
}
.content h3 {
  color: white;
  max-width: 90%;
  text-align: center;
  font-size: 1.4rem;
}
.content p {
  color: white;
  text-align: center;
  font-size: 1rem;
  margin-top: 2%;
}
.inner-content {
  display: flex;
  width: 100%;
}

.inner-content input {
  width: 65%;
  height: 3.5rem;
  padding: 5px;
  vertical-align: center;
}
.inner-content button {
  width: 35%;
}

.fa-chevron-right:after {
  content: "\f054";
  padding-left: 5px;
}
.fa-chevron-right:before {
  content: none;
}
.section {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.5%;
  background-color: black;
  height: 30rem;
}
.inner-section-left {
  display: flex;
  margin: auto;
  width: 80%;
}
.section-inner-one,
.section-inner-two {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  margin: auto;
  margin-left: 8%;
  text-align: left;
}
.section-inner-two {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 8%;
  margin-left: 0px;
}
.h1 {
  color: white;
  font-size: 3rem;
  letter-spacing: -2px;
  padding: 3px;
}
.h3 {
  color: white;
  font-size: 1.2rem;
  padding: 3px;
}
.animation {
  background-image: url(../assets/tv-image.png);
  background-repeat: no-repeat;
  width: 90%;
  background-size: 100% 100%;
  margin: auto;
  height: 300px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.video-animation {
  /* position: absolute;
  width: 83%;
  height: 52%;
  top: 21%;
  right: 14%; */
  background-color: black;
  height: 54%;
  width: 72%;
  opacity: 0.8;
  position: absolute;
  top: 63px;
  right: 63px;
}
video {
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  opacity: 0.8;
}
.inner-section-one-right,
.inner-section-two-right {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  margin: auto;
  text-align: left;
}
.inner-section-one-right {
  flex-direction: row;
  justify-content: center;
  margin: 0 0;
  position: relative;
}
.img-strager-things {
  width: 46%;
}
.stranger-things-cover {
  display: flex;
  border: 1px solid white;
  height: 39%;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  align-items: center;
  position: absolute;
  bottom: 2%;
  background-color: black;
  min-width: 60%;
}
.stranger-things-cover p {
  margin: 0;
  padding: 0;
}
.stranger-things-cover-inner-div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 0 10px;
}
.stranger-cover-icon {
  height: 90%;
  padding: 10px;
}
.animated-icon {
  height: 30%;
  align-self: center;
  margin: 0 20px;
}
